.bg-holder {
    /* background: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg'); */
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* background-size: cover; */
}

.form-handle {
    width: 500px;
    height: fit-content;
    padding: 60px 80px;
    background-color: white;
    border-radius: 40px;
}

.email-form {
    gap: 16px;
    align-items: flex-start;
}
.email-form input[type='email']{
    width: 500px;
    height: 28px;
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;

}
.email-form input[type='submit']{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 16px 48px;
    cursor: pointer;
    color: white;
    background-color: black;
}