.input-holder {
    gap: 24px;
    flex-grow: unset;
    flex-wrap: nowrap;

}

.input-holder input {
    height: 60px;
    width: 120px;
    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
    text-align: center;
    font-size: 36px;
}

.parent-div {
    gap: 24px;
}

.parent-div button {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 16px 48px;
    cursor: pointer;
    color: white;
    background-color: black;
    width: fit-content;
}